body {
  margin: 0;
padding-bottom: 50px;
  font-family: Arial, sans-serif;
  background-color:#262626;
  color: #FFF;
  background: url("https://images.pexels.com/photos/169789/pexels-photo-169789.jpeg?w=940&h=650&auto=compress&cs=tinysrgb") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
}

header {
  padding: 0;
  margin: 0;
  border-bottom: 1px #fff solid;
}

h1, h2, h3 {
  text-align: center; 
  color: #FFF;
}

.container {
  border: 1px transparent solid;
  height: auto;
  width: 100%;
  background: rgba(0, 0, 0, 0.7);
  margin: 0;
  padding: 0;
}

.main{
 height: auto;
  width: 50%;
  margin: 0 auto;
  border-radius: 15px;
  background: rgba(255, 255, 255, 0.6);
  color: #262626;
  padding: 10px 20px;
}

.main li{
 line-height: 25px; 
  font-size: 17px;
}

